@import "../../../asset/scss/main.scss";

.socialStack {
  ul {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: -webkit-sticky;
    position: sticky;
    top: 40px;
    li {
      margin-bottom: 15px;
      a {
        align-items: center;
        justify-content: center;
      }
      &:last-child {
        align-items: end;
      }
    }
  }
}
