.bio-pic {
  background: url("./bw-paul-barron-600.png");
  background-repeat: no-repeat;
  background-position: 30px bottom;
  min-height: 60vh;
  width: 100%;
  position: relative;
  right: 0;
}

.home-heading ul li {
  margin-right: 20px;
}

.home-heading ul li:first-child {
  margin-left: 30px;
}



@media (min-width: 640px) {
  .bio-pic {
    background-position: right bottom;
  }
}

@media (min-width: 1024px) {
  .bio-pic {
    background-position: 80% bottom;
  }
}

.cursor::after {
  content: "";
  background: #ffffff;
  display: inline-block;
  margin-left: 3px;
  animation: blink 1s infinite;
  position: absolute;
  -webkit-animation: blink 1s step-start infinite;
  width: 7px;
  height: 1.25rem;
  top: 4px;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}