@import "../../asset/scss/main.scss";

.gridContainer {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: auto;
  padding: 0 2.5%;
  grid-template-areas:
    "cover cover cover"
    "sidebar article aside";
  .blogCover {
    display: grid;
    grid-area: cover;
    margin: 40px auto;
    min-height: 120px;
    h1 {
      position: relative;
      font-size: 4.5rem;
      font-weight: bold;
    }
  }
  .sidebar {
    min-height: 220px;
    grid-area: sidebar;
  }
  .postContainer {
    min-height: 100vh;
    grid-area: article;
  }
  .socialStack {
    grid-area: aside;
  }
}

@include min-width(900px) {
  .gridContainer {
    grid-template-rows: auto;
    grid-template-columns: auto 840px auto;
    grid-template-areas:
      "cover cover cover"
      "sidebar article aside";
    .blogCover {
      min-height: 300px;
    }
  }
}
