@import "../../asset/scss/main.scss";

.button {
  display: inline-block;
  color: var(--primary-red);
  font-size: 1.5rem;
  font-weight: 600;
  border: 2px solid var(--primary-red);
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  line-height: 1;
  border-radius: 0.25rem;
  margin-top: 1rem;
  &:hover {
    background-color: var(--primary-red);
    color: var(--primary-dark);
  }
}
@include medium-devices {
  margin-top: 0;
}
