@import "../../../asset/scss/main.scss";

.headerContent {
  display: flex;
  align-items: center;
  justify-content: center;
}
.mainContent {
  display: grid;
  grid-template-columns: auto;
  padding: 0 2.5%;
  grid-template-areas: ". article .";
}

@include min-width(900px) {
  .mainContent {
    grid-template-rows: auto;
    grid-template-columns: auto 840px 100px;
    grid-template-areas: "sidebar article aside";
    padding: 0;
  }
}
