@import "../../asset/scss/main.scss";

@include large-devices {
  .socialStack {
    display: flex;
    max-height: calc(100vh - 40px);
    justify-content: center;
    position: sticky;
    top: 40px;
    ul {
      display: flex;
      flex-direction: column;
      top: 40px;
      li {
        margin-bottom: 15px;
        a {
          align-items: center;
          justify-content: center;
        }
        &:last-child {
          margin-top: auto;
          margin-bottom: 40px;
        }
      }
    }
  }
}
