:root {
  --primary-red: #C8202F;
  --primary-dark: #131313;
  --javascript: #E45225;
  --css: #E6A328;
  --html: #0A73B8;
}

body {
  margin: 0;
  font-family: 'Rajdhani', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--primary-dark);
  color: #ffffff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Utilities ****/
.border-red {
  border-color: var(--primary-red);
}

.text-red {
  color: var(--primary-red);
}

.h-screen {
  height: calc(100vh - 91px);
}

.header-text {
  font-size: calc(28px + 0.5vh + 1.5vw);
}

.html,
.css,
.javascript {
  font-family: 'Noto Sans JP', sans-serif;
}